<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fuelapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.FuelApp">
        <activity android:name=".activities.EditServiceActivity"/>
        <activity android:name=".activities.EditVehicleActivity" />
        <activity android:name=".activities.ServiceDetailsActivity" />
        <activity android:name=".activities.AddServiceActivity" />
        <activity android:name=".activities.ServiceActivity" />
        <activity android:name=".activities.AddFuelActivity" />
        <activity android:name=".activities.FuelActivity" />
        <activity android:name=".activities.AddVehicleActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <uses-library android:name="ro.vendor.df.effect.conflict" android:required="false"/>
    </application>

</manifest>